@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{
    font-size: 13px;
}

h1 {
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;

}

.box {
    display: flex;
    justify-content: center;
}

.container {
    min-height: 30rem;
    width: 25rem;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.tab {
    min-height: 4rem;
    border: 2px solid black;
    width: 23rem;
    margin-top: .7rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.8rem;
    overflow-x: auto;
    background-color: #fff;
    border-radius: .8rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.keys {
    display: flex;
    gap: 1rem;
}

.btn {
    height: 5rem;
    width: 5rem;
    margin-top: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(125, 125, 125);
    color: white;
    border-radius: 1.2rem;
    border: none;
}

.item:hover {
    animation: hover 0.1s ease-in forwards;
}

@keyframes hover {
    to {
        background-color: white;
        color: black;
        border: 2px solid rgb(125, 125, 125);
    }
}

.operator {
    background-color: rgb(255, 174, 0);
}

.operator:hover{
    animation: sign .1s ease-in forwards;
}

@keyframes sign{
    to{
        background-color: white;
        color: rgb(255, 174, 0);
        border: 2px solid rgb(255, 174, 0);
    }
}

.base {
    background-color: rgb(62, 235, 126);
}

.base:hover{
    animation: base .1s ease-in forwards;
}
@keyframes base{
    to{
        background-color: white;
        color:rgb(62, 235, 126);
        border: 2px solid rgb(62, 235, 126);
    }
}



.Enter {
    height: 5rem;
    width: 17rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.operator {
    height: 5rem;
    width: 5rem;
    margin-top: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.clear {
    height: 5rem;
    width: 5rem;
    margin-top: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.Allclear {
    height: 5rem;
    width: 5rem;
    margin-top: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Responsiveness */

@media  screen and (max-width: 768px){
    html{
        font-size: 11px;
    }
}
@media screen and (max-width: 414px){
    html{
        font-size:9px;
    }
}
@media screen and (max-width: 320px) {
    html{
        font-size: 6px;
    }
}